In [1]:
import gzip
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#read zip file into a dataframe
imdb_name_basics_df = pd.read_csv('zippedData/imdb.name.basics.csv.gz')
imdb_name_basics_df.head() #preview file

,nconst,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,nm0061671,Mary Ellen Bauder,NaN,NaN,"miscellaneous,production_manager,producer","tt0837562,tt2398241,tt0844471,tt0118553"
1,nm0061865,Joseph Bauer,NaN,NaN,"composer,music_department,sound_department","tt0896534,tt6791238,tt0287072,tt1682940"
2,nm0062070,Bruce Baum,NaN,NaN,"miscellaneous,actor,writer","tt1470654,tt0363631,tt0104030,tt0102898"
3,nm0062195,Axel Baumann,NaN,NaN,"camera_department,cinematographer,art_department","tt0114371,tt2004304,tt1618448,tt1224387"
4,nm0062798,Pete Baxter,NaN,NaN,"production_designer,art_department,set_decorator","tt0452644,tt0452692,tt3458030,tt2178256"

In [5]:
imdb_name_basics_df.shape

(606648, 6)

## IMDB Name Basics

This looks like a table of professionals in the film industry who have been named. There are 6 columns and over 60,000 records. The nconst column seems to be a unique identifier and the known_for_titles column seems to have each movie as a non-human readable unique identifier.

In [7]:
imdb_name_basics_df['nconst'].value_counts() #is unique nothing more than once
imdb_name_basics_df['nconst'].isnull().sum() # 0 null values found

0

In [9]:
imdb_name_basics_df['primary_name'].value_counts() #lots of identical names here data seems to be formatted well
imdb_name_basics_df['primary_name'].isnull().sum() # 0 null values found

0

In [11]:
imdb_name_basics_df['birth_year'].isnull().sum() #523912 null values

523912

In [13]:
imdb_name_basics_df['death_year'].isnull().sum() #almost 60000 null values

599865

In [15]:
imdb_name_basics_df['primary_profession'].value_counts() # if they have performed multiple roles it may be a unique number
                                                         # to perform analysis with this we will have to search the string 
                                                         # to contain individual items like "actor"

actor                                                      88306
actress                                                    58430
producer                                                   23324
composer                                                   20125
writer                                                     18247
cinematographer                                            11297
director                                                    9149
editor                                                      8840
director,writer,producer                                    8148
producer,director,writer                                    6486
director,writer                                             5446
actor,producer                                              5138
cinematographer,camera_department                           4462
actor,director,writer                                       4435
director,writer,editor                                      4336
actor,writer                                                4187
director,writer,cinematographer                             4175
actor,writer,producer                                       4061
composer,music_department                                   3589
writer,producer                                             3464
actress,producer                                            3007
director,producer,writer                                    3004
director,actor,writer                                       2782
actor,producer,writer                                       2725
writer,director,producer                                    2548
camera_department,cinematographer                           2515
director,producer                                           2465
actor,miscellaneous                                         2460
producer,writer,director                                    2453
writer,producer,director                                    2350
                                                           ...
talent_agent,actress,transportation_department                 1
composer,art_director,producer                                 1
camera_department,make_up_department,cinematographer           1
visual_effects,composer,cinematographer                        1
producer,actress,publicist                                     1
editorial_department,miscellaneous                             1
costume_department,producer,camera_department                  1
producer,location_management,soundtrack                        1
producer,actress,assistant                                     1
cinematographer,editor,stunts                                  1
legal,writer,talent_agent                                      1
miscellaneous,art_director,assistant_director                  1
writer,art_department,costume_designer                         1
actress,production_manager,art_department                      1
actor,production_manager,editor                                1
visual_effects,art_department,actor                            1
make_up_department,actress,casting_director                    1
talent_agent,casting_director,casting_department               1
special_effects,director,editor                                1
make_up_department,costume_department,camera_department        1
assistant_director,art_department,miscellaneous                1
composer,legal                                                 1
actress,music_department,stunts                                1
actress,soundtrack,editor                                      1
art_department,camera_department,stunts                        1
casting_department,actor,editorial_department                  1
location_management,camera_department,editor                   1
actor,production_designer,soundtrack                           1
camera_department,producer,soundtrack                          1
visual_effects,sound_department,production_manager             1
Name: primary_profession, Length: 8647, dtype: int64

In [17]:
imdb_name_basics_df['known_for_titles'].value_counts() #same thing as the primary profession cokumn we will ahve to iterate through the list to examine data

tt4773466                                  45
tt3428990                                  23
tt3014460                                  23
tt4803104                                  19
tt2120166                                  17
tt5827890                                  16
tt2234076                                  16
tt1493812                                  15
tt6055760                                  15
tt4356218                                  14
tt3420716                                  14
tt3475186                                  14
tt7372762                                  13
tt1560702                                  13
tt2275573                                  13
tt1974200                                  12
tt6821990                                  12
tt5455352                                  11
tt2034084                                  11
tt5858514                                  11
tt7380862                                  11
tt3551744                                  11
tt7266048                                  11
tt3310594                                  10
tt3459348                                  10
tt5615922                                  10
tt4330400                                  10
tt7035354                                  10
tt5127076                                  10
tt6656262                                  10
                                           ..
tt5618232,tt3445702,tt8581152,tt5843760     1
tt5189554,tt5019216,tt0112952,tt4005402     1
tt0118928,tt0115641,tt0306685,tt0441796     1
tt6136842,tt3609990                         1
tt2260062                                   1
tt6548966                                   1
tt3256698,tt0462667,tt0810429,tt0997280     1
tt1941564                                   1
tt5425194,tt7993422,tt8610856,tt4788726     1
tt5300714                                   1
tt0389316,tt1759673                         1
tt5969074,tt7271954                         1
tt5891492,tt2767878,tt1594941,tt3573336     1
tt1606229,tt6846750,tt4188034,tt3215804     1
tt1653929                                   1
tt2826830,tt1848829,tt2417912,tt1545011     1
tt5086308,tt4942230,tt9596642,tt8663958     1
tt0272207,tt3742100,tt2749296,tt0389327     1
tt3231838                                   1
tt0183881,tt0089109,tt0090567,tt4317858     1
tt1718801,tt0417546,tt8413714,tt2336259     1
tt2992618,tt4176748,tt2187674,tt4366462     1
tt1493122,tt1830461,tt1830469,tt1830886     1
tt0285335,tt9347672,tt0420211               1
tt1787988,tt0292490,tt1024943,tt0169102     1
tt4103404,tt2062547,tt7446826,tt4552298     1
tt8484038,tt6889222,tt7889552,tt8804580     1
tt0347017,tt4182762,tt1223917,tt2790236     1
tt9015188,tt3307560,tt2782728,tt6133414     1
tt9395844                                   1
Name: known_for_titles, Length: 482207, dtype: int64